/* Global Styles */
body {
	margin: 0;
	padding: 0;
}

/* Header Styles */
.header {
	background-color: #232f3e;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 10px;
}
.logo img {
	height: 30px;
}
.search input[type="text"] {
	padding: 5px;
	border: none;
	border-radius: 3px;
	width: 600px;
}
.search button {
	background-color: #ff9900;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 5px 10px;
	margin-left: 5px;
	cursor: pointer;
}
.login-signup {
	margin-left: auto;
}
.login-signup a {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
}

/* Item Box Styles */
.item-container {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}
.item-box {
	width: 350px;
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.item-box img {
	width: 100%;
}
.item-box h3 {
	margin: 10px 0;
}
.rating {
	color: #ff9900;
	margin: 10px 0;
}
.checked {
	color: #ff9900;
}
.item-box p {
	font-weight: bold;
	margin: 10px 0;
}