/* Header Styles */
.header {
	background-color: #232f3e;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 10px;
}
.logo img {
	height: 30px;
}

.home-link {
  margin-right: 10px;
}
.home-link a
{
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
}

.info-section {
	margin-left: auto;
}
.info-section a {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
}

body {
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 600px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 5px;
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
}

input[type=text], input[type=email], input[type=password], select {
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	margin-bottom: 20px;
}

input[type=submit] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #3e8e41;
}
