body {
	margin: 0;
	padding: 0;
}

/* Header Styles */
.header {
	background-color: #232f3e;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 10px;
}
.logo img {
	height: 30px;
}

.home-link {
  margin-right: 10px;
}
.home-link a
{
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
}

.info-section {
	margin-left: auto;
}
.info-section a {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
}

/* Account Page Styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.account-info {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
}

.bank-account {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
}

.form-row {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}

.update-btn {
  background-color: #2196F3;
}

.logout-btn {
  background-color: #f44336;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

footer {
    background-color:  #232f3e;
    color: #fff;
    padding: 5px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 12px;
}

.footer a 
{
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
	font-size: 12px;
}